:root {
  /**
    |============================
    | Color text
    |============================
  */
  /* SLATE */
  --main-color-text: #434455;
  /* NAVY BLUE */
  --title-text-color: #2e2f42;
  /* IRIS */
  --btn-color: #4d5ae5;
  /* CLOUD */
  --footer-text: #f4f4fd;
  /* Withe */
  --withe-text-color: #ffffff;
  /**
    |============================
    | Color background
    |============================
  */
  /* Основний фон */
  --withe-color: #ffffff;
  /* NAVY BLUE */
  --bgr-navy-blue: #2e2f42;
  /* CLOUD */
  --bgr-cloud: #f4f4fd;
  /* IRIS */
  --bgr-btn-color: #4d5ae5;
  /* OCEAN - стан при натисненні*/
  --pressed-state-color: #404bbf;
  /* Колір лініі в хедері cornflower */
  --cornflower: #e7e9fc;
  /**
    |============================
    | Others
    |============================
  */
  --indent: 24px;
  --indent-b: 48px;
  --items: 3;
}

body {
  /* text */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color */
  background-color: var(--withe-color);
  color: var(--main-color-text);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Прибирання підчеркування*/
.link {
  text-decoration: none;
}
/* Прибирання точок */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Приховувуємо елемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset end */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/**
  |============ ================
  | Header Logo
  |============================
*/
.header {
  border-bottom: 1px solid var(--cornflower);
}
.header-page {
  display: flex;
  align-items: center;
}
.nav-page {
  display: flex;
  margin-right: auto;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--btn-color);
}

.logo-dark {
  color: var(--title-text-color);
}
.logo-light {
  color: var(--footer-text);
}
/**
  |============================
  | Header Menu
  |============================
*/
.menu {
  display: flex;
  gap: 40px;
}
.menu-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/* Можна так задати або через gap
.menu .item:not(:last-child) {
  margin-right: 40px;
} */
.menu .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu .link:hover,
.menu .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Header address 
  |============================
*/
/* Прибирання курсиву */
.address {
  font-style: normal;
}
.address.list {
  display: flex;
}
.address .item:not(:last-child) {
  margin-right: 40px;
}
/*Ще один спосіб
 .address .item + .item {
  margin-left: 40px;
} */
.address .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-color-text);
}
.list .link:hover,
.list .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Section hero  index.html
  |============================
*/
.hero {
  text-align: center;
  background-color: var(--bgr-navy-blue);
}
.hero-title {
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--withe-text-color);
}

.hero-btn {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-btn-color);
  color: var(--withe-text-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}
/**
  |============================
  | Section 2 index.html
  |============================
*/
.feature-list {
  display: flex;
  gap: var(--indent);
}
.functions {
  min-width: 264px;
}
.section-heading {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/**
  |============================
  | Section 3 index.html
  |============================
*/
.section-three {
  padding-bottom: 120px;
}
.section-subject {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.section-image {
  display: flex;
  gap: var(--indent);
}
/**
  |============================
  | Section 4 index.html
  |============================
*/
.sections-page {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--bgr-cloud);
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.sections-list {
  display: flex;
  gap: var(--indent);

  text-align: center;
}
.items {
  background-color: var(--withe-color);
}
.name-position {
  padding: 32px 16px;
}
/**
  |============================
  | Section portfolio.html
  |============================
*/
.section-portfolio {
  padding-bottom: 120px;
}

.btn-navigation {
  display: flex;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
  gap: var(--indent);
}
.btn {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-cloud);
  color: var(--btn-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--withe-text-color);
}
.section-text {
  color: var(--main-color-text);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-b) var(--indent);
}

.card-set-item {
  width: calc(
    (100% - var(var(--indent) * 2 (var(--items) - 1))) / var(--items)
  );
}
/* .flex-element {
  margin-right: 24px;
  margin-bottom: 48px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.card-content {
  padding: 32px 0;
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bgr-navy-blue);
}
.footer-logo {
  /* padding: 0;
  margin-left: 0; */
  margin-bottom: 16px;
}
.footer-text {
  width: 264px;
  color: var(--footer-text);
}
